/* 
    Document   : main
    Created on : Dec 6, 2010, 8:13:41 PM
    Author     : peter
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div.gone {
	display:none;
}
div.clear {
    float:none;
    clear:both;
}
div#header-break {
	height:5px;
    margin-top:10px;
}

h1 {
	font-family: 'DeliciousHeavyRegular', "Trebuchet MS", Trebuchet, sans-serif;
	font-size: 96px;
	line-height: 100px;
	color:#433B2B;
	float:right;
	margin: 30px 300px 0px 0px;
}

/** LOGIN STUFF *************************************/

#login { /* login div */
    border-style:dashed;
    border-width:1px;
    margin:50px 0px 0px 50px;
    padding: 5px;
    width:300px;
    height: 55px;
}

#login a.fb_link img, .blank_profile { /* profile picture */
    padding:0px 10px 0px 0px;
    height:50px;
    width:50px;
    float:left;
}

a.fb_button { /* login/logout button */
    float:left;
    margin:5px 5px 5px 5px;
}

#username { /* span for username */
    font-weight: bold;
    /*font-size: 1.2em;*/
    float:left;
    margin-top:0px;
}


#greeting { /* span for greeting before username */
    float:left;
    margin-left:5px;
    margin-right:5px;
}
/** END LOGIN STUFF ***************************/

/** OVERRIDE OF CAKE STUFF **********************/
body {
	background:#fff;
}
table td.actions a {
    padding:8px 10px;
}
div.form, div.index, div.view {
    border:none;
	float:none;
	padding:0px;
	width:100%;
}
div.index {
    float:none;
}

table tr td {
    border-bottom: 5px solid #fff;
    padding:10px;
    text-align: center;
    vertical-align: middle;
}
table tr:nth-child(2n) td {
	background: #EDEFF4;
	/*background: #99CCCC;*/
}
table tr:nth-child(2n) td.alt {
	background: #627AAD;
	cursor:pointer;
	/*background:#D0D0D0;*/ 
}
table tr:nth-child(2n) td.alt:hover {
	/*border-left: 5px dotted #111;
	border-bottom: 5px dotted #111;*/
	/*background:#D0D0D0;*/ 
	background: #434E77;
}
table tr:nth-child(2n+1) td {
    background: #F7E2B9;
   /* background: #FFFF99;*/
}
table tr:nth-child(2n+1) td.alt {
	background: #E4AF48;
	cursor:pointer;
	/*background:#D0D0D0;*/
}
table tr:nth-child(2n+1) td.alt:hover {
	/*border-left: 5px dotted #111;
	border-bottom: 5px dotted #111;*/
	/*background:#D0D0D0;*/
	background: #A07A32;
}
table tr:nth-child(2n+1) td.left {
    border-left:none;
}
table tr:nth-child(2n) td.left {
    border-left:none;
}
table tr:nth-child(2n+1) td.right, table tr:nth-child(2n+1) td.pagination {
    background:#fff;
}
table tr:nth-child(2n) td.right, table tr:nth-child(2n) td.pagination {
    background:#fff;
}
 
/** END OVERRIDE OF CAKE STUFF **********************/

/** ADD COMMITMENT FORM *****************************/
input.days {
    width: 40px;
    margin:0px 5px 15px 5px;
}
label.commitment { 
    display:inline;
}
input.rule {
    width:300px;
	margin-top:15px;
	line-height:30px;
}
form strong.big {
    font-size:2em;
}
div.form-phrase{
    display:inline;
    padding:0px;
}

/** END ADD COMMITMENT FORM *****************************/

/** STAR DISPLAY STUFF **********************/
div.star{
    /*width:64px;*/
    min-width:64px;
    height:64px;
	position:static;
}
div.caption{
    text-align:center;
}
div.valid {
	background: url('../img/star_lt_gld_64.png') no-repeat;
    background-position:50%;
}
div.invalid {
	background: url('../img/star_dk_64.png') no-repeat;
    background-position:50%;
}
div.neutral {
	background: url('../img/dash_dk_64.png') no-repeat;
    background-position:50%;
}
/*
div.today.invalid:hover {
	background: url('../img/star_med_64.png') no-repeat;
    background-position:50%;
}
div.today.valid:hover {
	background: url('../img/star_lt_64.png') no-repeat;
    background-position:50%;
}
*/
td {
	background: #EDEFF4;
    border-left: 5px solid #fff
}
td.alt {
	background: #627AAD;
}
td.header {
    border-left: 0px;
}
a#leftpage {
	display:block;
	height: 150px;
	width: 10px;
}
/** END STAR DISPLAY STUFF ******************/

/** OTHER TABLE STUFF ******************/
th {
    text-align:center;
}
th.button {
	border:none;
}
a.pagination {
	background-color: #F1F1D4;
    background-position:50%;
	background-repeat: no-repeat;
	display:block;
	width:10px;
}
a#leftpage {
	display:block;
	background-color: #F1F1D4;
	background-image: url('../img/page_lt_16.png');
	background-repeat: no-repeat;
    background-position:50%;
}
a#rightpage {
	display:block;
	background-color: #F1F1D4;
	background-image: url('../img/page_rt_16.png');
	background-repeat: no-repeat;
    background-position:50%;
}
a#rightpage:hover {
	background-color: #EEECA9;
}
a#leftpage:hover {
	background-color: #EEECA9;
}
a#rightpage.invalid {
	display:block;
	cursor:default;
	background-image:none;
	background-color: #fff;
}
a#leftpage.invalid {
	display:block;
	cursor:default;
	background-image:none;
	background-color: #EEE;
}
td.left-border {
	border-left:none;
}
div.button.close {
	cursor:pointer;
	position:relative;
	width:16px;
	height:16px;
	background: url('../img/x_dk_16.png') no-repeat;
	border:2px solid grey;
}
a#add-commitment {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85E573), to(#4CA83D));
	border-color: #2D6324;
    color: black;
	text-shadow: #8CEE7C 0px 1px 0px;
	height:50%;
	width:70%;
    padding:10px 50px;
}
div.contain {
	position:relative;
	margin:0px;
}
div.time-remaining { 
	font-family: 'DeliciousHeavyRegular', "Trebuchet MS", Trebuchet, sans-serif;
	position:absolute;
	top:-10px;
	right:-11px;
	width:84px;
	font-size:18px;
	line-height:20px;
	color:white;
	margin:0px;
    padding:0px;
}
/** STATS STUFF ******************/
div.stats {
	border: none;
}
div.stats h1 {
	font-size:24px;
	line-height:30px;
	/*float:left;*/
	float:none;
	clear:left;
	/*width: 150px;*/
	background:none;
	margin:5px 5px 5px 20px;
}
div.stats span {
	/*margin:5px;*/
	font-size:36px;
	/*padding: 5px;
	float:left;*/
}
div.stats span.grade {
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 10px;
	margin-top:15px;
	color: #FFF523;
 	background: #617AAC
   /* background: #627AAD;
    background: #433B2B;*/
}
div.stats span.label {
	font-size: 18px;
}
/** END DETAILS ********************/

/** ADD COMMITMENT TABLE STUFF ******************/
td#add_commitment_td {
	/*background: url('../img/new_commitment_128.png') no-repeat;*/
}
div.description.list {
	padding:10px 10px 10px 128px;
}
div.description.list h1 {
	background:none;
	margin-bottom:10px;
}
div.description.list ul {
   list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}
div.description.list li {
	margin-top:7px;
}
div.description.list li:before {
	/* double arrow html entities inserted **/
   content: "\00BB \0020"; 
}
/** END ADD COMMITMENT TABLE STUFF ******************/

/** END OTHER TABLE STUFF ******************/
/** AJAX MSG STUFF ******************/
div.loading {
	background: url('../img/ajax-loader.gif') no-repeat;
    background-position:50%;
	height: 50px;
	width:300px;
}
h1.loading {
	font-size:48px;
	float:none;
	margin:0px 0px 0px 0px;
	line-height:52px;
}
h1.modal {
	font-size:24px;
	float:none;
	margin:0px 0px 0px 0px;
	line-height:28px;
}
div.modal {
	cursor: default;
	padding: 15px;
}
div.modal input {
	margin:15px;
	width: 100px;
}

.tooltip {
    display: none;
	border: 1px solid #bbb;
    color: #333;
    
    background: #fafafa;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#fafafa));
    background: -moz-linear-gradient(#fff, #fafafa);
    background: linear-gradient(#fff, #fafafa);
    -pie-background: linear-gradient(#fff, #fafafa);
    
    -webkit-box-shadow: #bbb 1px 2px 5px;
    -moz-box-shadow: #bbb 1px 2px 5px;
    box-shadow: #bbb 1px 2px 5px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
	padding: 10px;
	margin: 10px;
	font-size: 18px;
    behavior: url(/css/PIE.htc);
}
/** END AJAX MSG STUFF ******************/

/** FRONT PAGE STUFF ********************/
img.main-icon {
   position:relative;
   top:40px;
}
span.site-name.first-letter {
	visibility:hidden;	
}
span.site-name.not-first-letter {
	position:relative;
	right:1.5em;
}
img.frontpage {
	display:block;
	border: 1px solid black;
	padding: 7px;
	margin:20px 0px 20px -50px;
}
h1.frontpage.section {
	margin-left:70px;
	margin-top:50px;
	font-size:36px;
	float:left;
	clear:both;
}
div.frontpage {
	margin: 30px 0px 30px 150px;
	clear:both;
}
div.frontpage p {
	margin:10px;
	max-width: 600px;
	line-height:2em;
}
/*****> FRONT PAGE FB STUFF ********************/
div#fb {
	position:absolute;
	top:5px;
	right:-150px;
}
/*****> END FRONT PAGE FB STUFF ****************/
/** END FRONT PAGE STUFF ****************/

/** FOOTER STUFF ******************/
#footer {
	background: #fff;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding-left:auto;
	padding-right:auto;
	color: 000;
	width:100%;
}
#footer ul {
	list-style-type:none;
	margin-left:10%;
}
#footer ul li {
	float:left;
	color:#433B2B;
	font-family: 'DeliciousHeavyRegular', "Trebuchet MS", Trebuchet, sans-serif;
	font-size:18px;
	line-height:20px;
}
#footer a {
	text-decoration: none;
	color:#433B2B;
	padding: 5px 50px 5px 50px;
}
#footer a:hover {
	color: #FFF523;
	background:#433B2B;
}

/** END FOOTER STUFF **************/

