@font-face {
	font-family: 'DeliciousHeavyRegular';
	src: url('/css/fonts/delicious-heavy-webfont.eot');
	src: local('☺'), url('/css/fonts/delicious-heavy-webfont.woff') format('woff'), url('/css/fonts/delicious-heavy-webfont.ttf') format('truetype'), url('/css/fonts/delicious-heavy-webfont.svg#webfontOI5fBmUD') format('svg');
}
