<?php
debug($recentStars);
?>
    <table cellpadding="0" cellspacing="0">
    <tr class="header">
<?php echo $star->th($period); ?>
    </tr>
    <tr>
<?php echo $star->td($recentStars, $period); ?>
    </tr>
	</table>
